<div class="top">
    <div class="container">
        <a href="/api/index">
            <h2>好谷29期后台管理系统</h2>
        </a>
        <div class="topright">
            <%=username%>
                <a href="/api/login" class="btn backlogin">退出</a>
        </div>
    </div>
</div>